/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: MY CSS CODE STARTS HERE ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-size: 22px;
    font-family: 'Urbanist', sans-serif;
    color: #0D0D0D;
}

h1 {
    font-size: 62px;
    font-weight: 300;
    text-align: center;
    color: #1A1B41;
}

h2 {
    font-size: 38px;
    font-weight: 300;
    color: #1A1B41;
}

p {
    line-height: normal;
}

/*navigation*/ 

.container {
    margin: 20px 20px 20px 20px;
}
 
.nav-list {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 70px;
}
 
.nav-list li a {
    display: block;
    padding: 13px 0px 13px 10px;
    color: #1A1B41;
    text-decoration: none;
    border: 1px solid #C2DFE3;
    margin-bottom: 20px;
}

.nav-list li:last-child a {
    margin-bottom: none;
}
 
.nav-list li a:hover,
.nav-list li a:focus {
    color: #1A1B41;
    background: #FF7A69;
}
 
/* navigation ends */ 

/* Welcome section */

.welcome .container picture img {
    margin-bottom: 70px;
}

.welcome .container p {
    margin-top: 20px;
    text-align: center;
}

/* Welcome section ends */

/* Recommendations section */

.recommendations {
    margin: 20px 20px 20px 20px;
}

.recommendations .container-recom p {
    margin-top: 20px;
    font-size: 15px;
}

.p-name {
    font-weight: 500;
}

.recommendations .container-recom picture img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 20px;
}

.banner .container p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
}

.button {
    background-color: #FF7A69; 
    border: none;
    color: #1A1B41;
    padding: 11px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 1px;
    font-weight: 600;
    margin-bottom: 20px;
}

.button:hover {
    background-color: #FDFDFD;
    color: #1A1B41;
    border: 1px solid #C2DFE3;
    font-weight: 400;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.footer {
    background: url(../images/footer_w375.png);
    background-repeat: no-repeat;
    background-size: auto;
}

footer p {
    font-size: 11px;
    color: #FDFDFD;
}

.footer {
    width: 100%;
    display: flex;
    height: 81.4442px;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
}

.footer-inner-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    margin-left: 20px;
    flex-basis: 48%;
}

.footer-inner-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 40%;
    margin-right: 20px;
    margin-top: 20px;
}

.orig-img-b {
    margin-left: 10px;
}

.social-text {
    font-size: 0;
}


/*media queries*/
 
@media only screen and (min-width: 768px) {
    .wrapper {
        width: 768px;
        margin: 0 auto;
    }

    .navbar {
        display: flex;
        height: 81px;
        margin-bottom: 70px;
    }

    .navbar li {
        display: inline;
    }
     
    .navbar li a {
        padding: 12px 20px;
        border-radius: 1px;
        margin-bottom: 0;
        float: right;
    }

    .container {
        margin: 20px 20px 20px 20px;
    }

    .logo a picture img {
        float: left;
        margin: auto;
    }

    .nav-list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-basis: 78%;
        gap: 10px;
        height: 50px;
        margin-top: 15px;
    }

    .welcome .container{
        text-align: center;
    }

    .welcome .container picture img {
        margin: 0 auto;
        margin-top: 65px;
        margin-bottom: 40px;
    }

    .container-recom {
        display: flex;
    }

    .container-recom-1 {
        width: 470px;
        margin-right: 40px;
    }

    .recommendations .container-recom .container-recom-2 picture img{
        visibility: hidden;
    }

    .container-recom-2 {
        align-items: stretch;
        background-image: url(/images/circle216.png);
        width: 216px;
        height: 221px;
    }

    .banner .container {
        display: flex;
        gap:30px;
    }

    .banner .container .container-banner {
        width: 360px;
    }
    
    .banner .container .container-contrast picture img{        
        float: right;
        margin: auto;
    }
    
    .footer {
        background: url(../images/footer_w768.png);
        background-repeat: no-repeat;
        background-size: auto;
    }

    .footer {
        width: 100%;
        display: flex;
        height: 167px;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .footer-inner-left {
        display: flex;
        margin-top: 106px;
        flex-basis: 48%;
        text-align: left;
        margin-top: 75px;
    }

    .footer-inner-right {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        flex-basis: 46%;
        margin-top: 75px;
    }
    
    .orig-img-b {
        margin-left: 19px;
    }

    .orig-img{
        margin-left: 19px;
        margin-right: 20px;
    }
    
    .social-text {
        font-size: 11px;
        text-decoration: none;
        color: #FDFDFD;
        margin-right: 20px;
    }
    


}

@media only screen and (min-width: 1280px) {
    .wrapper {
        width: 1280px;
        margin: 0 auto;
    }

    .navbar {
        background-color: goldenrod;
        display: flex;
        height: 81px;
    }

    .navbar li a {
        padding: 16px 20px;
        border-radius: 1px;
        margin-bottom: 0;
        float: right;
        font-size: 24px;
    }

    .nav-list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-basis: 82%;
        gap: 2px;
        height: 60px;
        margin-top: 22px;
        background-color: turquoise;
    }

    .container {
        margin: 20px 80px 20px 80px;
        background-color: teal;
    }

    .recommendations {
        margin: 20px 80px 20px 80px;
    }

    .welcome .container picture img {
        margin-bottom: 100px;
    }

    h1 {
        font-size: 96px;
    }

    h2 {
        font-size: 60px;
    }

    p {
        font-size: 34px;
    }

    .container-recom-1 {
        width: 760px;
        margin-right: 40px;
    }

    .container-recom-2 {
        align-items: stretch;
        background-image: url(/images/circle321.png);
        width: 320px;
        height: 341px;
    }

    .recommendations .container-recom .container-recom-1 p {
        font-size: 24px;
        margin-top: 30px;
    }

    .banner .container {
        display: flex;
        gap:40px;
    }

    .banner .container .container-banner {
        width: 560px;
    }

    .banner .container .container-banner p {
        font-size: 24px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .button {
        background-color: #FF7A69; 
        border: none;
        color: #1A1B41;
        padding: 16px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 24px;
        border-radius: 1px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .banner .container .container-contrast {
        width: 560px;
    }
    
    .banner .container .container-contrast picture img{        
        float: right;
        margin: auto;
    }

    .footer {
        background: url(../images/footer_w1280.png);
        background-repeat: no-repeat;
        background-size: auto;
    }
    
    .footer {
        width: 100%;
        display: flex;
        height: 278px;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .footer p {
        font-size: 20px;
        margin-top: 68px;
    }

    .social-text {
        font-size: 20px;
        text-decoration: none;
        color: #FDFDFD;
    }

    .footer-inner-left {
        display: flex;
        /* margin-top: 174px; */
        flex-basis: 30%;
        text-align: left;
        margin: 0 auto;
    }

    .footer-inner-right {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin: 0 auto;
        gap:20px;
    }

    .footer-inner-right a{
        margin-top: 68px;
    }

    .orig-img-b {
        margin-left: 0px;
    }

    .orig-img{
        margin-left: 0px;
        margin-right: 32px;
    }
}

/* ::::::::::::::::::::::::::::: About :::::::::::::::::::::::::::::*/

.nav-list {
    margin-bottom: 0;
}
.about .container  {
    margin-top: 0;
}

.about .container picture img {
    margin-bottom: 20px;
}

.about .container h1 {
    text-align: left;
    margin-bottom: 20px;
}

.about .container p {
    font-size: 38px;
    font-weight: 300;
}


.about .container:last-child p{
    margin-top: 20px;
}

.intro .container p {
    text-align: center;
}

.intro picture img {
    margin-bottom: 20px;

}

@media only screen and (min-width: 768px) {
    .navbar {
        margin-bottom: 0;
    }

    .about .container {
        display: flex;
        margin-bottom: 0;
    }

    .about .container h1 {
        text-align: left;
        margin-bottom: 20px;
    }

    .about .container p{
        font-size: 39px;
        font-weight: 300;
    }

    .intro picture img {
        display: flex;
        margin-left: 0;
    }

}

@media only screen and (min-width: 1280px) {
    .navbar {
        margin-bottom: 40px;
    }

    .about .container .left {
        margin-right: 40px;
    }

    .about .container .right p {
        font-size: 60px;
    }

    .intro picture img {
        margin-top: 40px;
        margin-bottom: 40px;
    }

}

/* ::::::::::::::::::::::::::::: Ends About :::::::::::::::::::::::::::::*/

/*+++++++++++++++++++++++++++++++Projects ++++++++++++++++++++++++++++++++*/

.projects h1 {
    margin-bottom: 28px;
    background-color: #FF7A69;
}

.projects .container {
    background-color: blueviolet;
    display: grid;
    grid-gap: 20px;
}

.layer-0 {
    background-color: rgba(194,223,227,0.7);
    height: 444px;
    width: 335px;
    position: absolute;
    text-align: center;
}

.layer {
    background-color: rgba(194,223,227,0.7);
    height: 221px;
    width: 335px;
    position: absolute;
    text-align: center;
}

.project-col h2 {
    width: 100%;
    top: 44%;
    left: 50%;
    transform: translateX(-50%);
    position:absolute;
}

@media only screen and (min-width: 768px) {

    .projects h1 {
        margin-top: 28px;
        margin-bottom: 28px;
        background-color: #FF7A69;
    }

    .projects .container {
        background-color: blueviolet;
        display: grid;
        grid-gap: 25px;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;        
    }

    .projects .container .project-col:nth-child(1){
        grid-column: 1/ span 1;
        grid-row: 1 /span 2;
    }

    .projects .container .project-col:nth-child(2){
        grid-column: 2/ span 1;
        grid-row: 1 /span 1;
    }

    .projects .container .project-col:nth-child(3){
        grid-column: 2/ span 1;
        grid-row: 2 /span 1;
    }

    .layer-0 {
        background-color: rgba(194,223,227,0.7);
        height: 467px;
        width: 351px;
        position: absolute;
        text-align: center;
    }
    
    .layer {
        background-color: rgba(194,223,227,0.7);
        height: 221px;
        width: 351px;
        position: absolute;
        text-align: center;
    }

    .projects .container .project-col picture img {
        margin: 0;
    }


}
    
@media only screen and (min-width: 1280px) {
    .projects h1 {
        margin-bottom: 40px;
    }

    .projects .container {
        width: 1120px;
        background-color: blueviolet;
        display: grid;
        grid-gap: 40px;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;   
        margin-bottom: 40px;     
    }

    .layer-0 {
        background-color: rgba(194,223,227,0.7);
        height: 720px;
        width: 540px;
        position: absolute;
        text-align: center;
    }
    
    .layer {
        background-color: rgba(194,223,227,0.7);
        height: 340px;
        width: 540px;
        position: absolute;
        text-align: center;
    }
}

/*+++++++++++++++++++++++++++++++End Projects ++++++++++++++++++++++++++++++++*/

/*::::::::::::::::::::::::::::::::::Prototype:::::::::::::::::::::::::::::::*/

.prototype h1 {
    margin-bottom: 40px;
}

.prototype .container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.prototype .container .prototype-col .layer {
        background-color: rgba(255,255,255,0.4);
        height: 323px;
        width: 335px;
        position: absolute;
}

.prototype .container .prototype-col{
    background-color: #C2DFE3;
}

.prototype .container .prototype-col .blue-block {
    padding: 40px;
}

.prototype .container .prototype-col .blue-block h2 {
    padding-bottom: 36px;
}

.prototype .container .prototype-col .blue-block p {
    padding-bottom: 60px;
}

.prototype .container .prototype-col .blue-block a {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    color: #0D0D0D;
}

@media only screen and (min-width: 768px) {
    .prototype .container{
        display: flex;
        flex-direction: column;
        gap: 26px;
    }

    .prototype .container .prototype-col {
        display: flex;
        height: 323px;
    }

    .prototype .container .prototype-col .layer {
        background-color: rgba(255,255,255,0.4);
        height: 323px;
        width: 324px;
        position: absolute;
    }
    
    .prototype .container .prototype-col picture img {
        margin: 0;
    }

    .prototype .container .prototype-col .blue-block p {
        padding-bottom: 88px;
    }
}

@media only screen and (min-width: 1280px){
    .prototype .container{
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-bottom: 40px;
    }

    .prototype .container .prototype-col {
        height: 500px;
    }

    .prototype .container .prototype-col .layer {
        background-color: rgba(255,255,255,0.4);
        height: 500px;
        width: 500px;
        position: absolute;
    }

    .prototype .container .prototype-col .blue-block {
        padding: 60px;
    }

    .prototype .container .prototype-col .blue-block h2 {
        padding-bottom: 57px;
    }

    .prototype .container .prototype-col .blue-block p {
        padding-bottom: 136px;
        font-size: 34px;
    }

    .prototype .container .prototype-col .blue-block a {
        font-size: 34px;
    }
}

/*::::::::::::::::::::::::::::::::::Ends Prototype:::::::::::::::::::::::::::::::*/

/*------------------------------------Paper ----------------------------------*/

.mySlides {
    display:none;
}

.w3-display-container{
    background-color: orange;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 335px;
    height: 250px;
    margin-bottom: 29px;
}

.button-circle {
    position: absolute;
    bottom:4%;
    left: 77%;
    margin-left: 2px;
    margin-right: 2px;
}

.w3-black {
    background-color: #FF7A69;
    color: #1A1B41;
    width: 32.46px;
    height: 32.46px;
    border-radius: 100px;
    border: none;
    font-size: 22px;
    font-weight: bold;
    align-items: center;
    padding: 0;
}

.w3-black:hover{
    background-color: #1A1B41;
    color: #FF7A69;
}

.container p{
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .paper h1 {
        margin-bottom: 15px;
    }

    .paper .container .w3-display-container .mySlides picture img {
        margin: 0;
    }

    .w3-display-container{
        background-color: orange;
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 261px;
        margin-bottom: 25px;
    }

    .button-circle {
        position: absolute;
        bottom:4%;
        left: 84%;
    }

    .w3-black {
        margin-left: 10px;
        margin-right: 10px;
        padding: 0;
    }
}

@media only screen and (min-width: 1280px) {
    .paper h1 {
        margin-bottom: 23px;
    }

    .paper .container {
        margin-bottom: 30px;
    }

    .w3-display-container{
        background-color: orange;
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 402px;
        margin-bottom: 40px;
    }

    .w3-black {
        background-color: #FF7A69;
        color: #1A1B41;
        width: 50px;
        height: 50px;
        border-radius: 100px;
        border: none;
        font-size: 30px;
        font-weight: bold;
        align-items: center;
        margin-left: 15px;
        margin-right: 15px;
        padding: 0;
    }

    .button-circle {
        position: absolute;
        bottom:6%;
        left: 84%;
    }
}